/* Resets */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
}

ul,
li,
a,
button {
    text-decoration: none;
    list-style-type: none;
}

// Text //

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Arial, Helvetica, sans-serif;
}


/* Layout */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 56px;
    background-color: #343a40;

    a,
    span {
        color: #ffffff;
        font-size: 20px;
    }
}

section {
    width: auto;
    margin: auto;

    &.hero {
        height: 408px;
        background-color: #ffffff;

        .ct-center {
            margin: auto;
            display: grid;
            grid-template:
                "a a"48px "b b"90px "c d"54px;
            width: 640px;
            text-align: center;
    
            h1 {
                grid-area: a;
            }
    
            p {
                grid-area: b;
            }
    
            a {
                &.bt-main {
                    grid-area: c;
                    width: 145px;
                    height: 36px;
                    background-color:#007bff;
                    justify-self: right;
                    margin-right: 2px;
                }
    
                &.bt-alt {
                    grid-area: d;
                    width: 145px;
                    height: 36px;
                    background-color: #6c757d;
                    justify-self: left;
                    margin-left: 2px;
                }
            }
        }
    }

    &.showcase {
        background-color: #f8f9fa;
        min-height: 800px;

        .ct-center {
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 1140px;
            text-align: center;
            padding: 20px;
        }


    }

}

footer {
    display: flex;
    justify-content: space-around;
    height: 152px;
    align-items: center;
}

/* Componets */

.card {
    width:348px;
    height:384px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 1px rgba(52,58,64,0.25);
    overflow: hidden;

    .card-image {
        height: 225px;
        background-color: #55595c ;
    }

    .card-content {
        display: grid;
        grid-template:
        "a a"100px "b c"51px;

        .card-text {
            grid-area: a;
            justify-self: center;
            align-self: center;
            font-size: 16px;
            padding: 0px 20px;
            text-align: justify;
        }

        .card-options {
            grid-area: b;
            display: flex;
            border: 1px solid #6c757d;
            border-radius: 10px;
            justify-self: center;
        }

        .card-time {
            grid-area: c;

            justify-self: center;
        }
    }
}